.App {
  text-align: center;
}

.formDis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: beige;
  background-size: cover;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
}

.logo {
  width: 250px;
  height: 250px;
  border-radius: 200px;
}
