@import "fonts.scss";
@import "OrderForm.scss";
@import "Sidebar.scss";

$scondary: #4056a1;

body {
  line-height: 1.2rem;
  font-family: "Roboto", "Open Sans", sans-serif !important;
  font-size: 1rem;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  color: #222222;
  background-color: white;
}

.w-200px {
  width: 200px;
}

.bodyBg {
  background-color: lightgray;
}

.selectionBtn {
  height: 500px;
  width: 200px;
  border-radius: 50px;
}

#goldbtn {
  background-color: #d79922;
}

.bluebtn {
  background-color: #4056a1;
}

#greybtn {
  background-color: #c5cbe3;
}

.logo {
  width: 250px;
  height: 250px;
}

button {
  border-radius: 0 !important;
}

h2 {
  font-family: "Staatliches", "Open Sans", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

h4 {
  font-weight: 300;
}

.bg-scondary {
  background-color: $scondary;
}

a {
  color: #00ab50;
}

a:hover {
  color: #f13c20;
}

.centerPiece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#divBG {
  background-color: #efe2ba;
}
