.sidebar-container {
  position: fixed;
  width: 320px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: 1s;

  .sidebar {
    width: 270px;
    position: absolute;
    padding: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
  }

  button.my-button {
    // position: relative;
    width: 50px;
    height: 50px;
    left: 0px;
    background: white;
    border: none;
    color: #474350;
    // top: 90px;

    &:focus {
      outline: 0;
    }
  }
}
